*{
    --color1: #F0EBE3;
    --color2: #E4DCCF;
    --color3: #7D9D9C;
    --color4: #576F72;
}

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
    height: 100%;
}

.sidebar{    
    grid-area: 1 / 1 / 4 / 2;
    background-color: var(--color4);
    padding: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}


.header{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: var(--color3);
    padding: 20px;
}   

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--color2);
    padding: 50px;
}

.projects{ 
    margin-top: 10px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.side-area{
    grid-template-rows: 1fr min-content 1fr;
    grid-area: 1 / 2 / 3 / 3;
    padding: 20px;
}


.side-btns{
    text-align: center;
    list-style-type: none;
    padding: 0;
    color: white;
}

ul.side-btns{
    display: grid; 
    gap: 35px;
}

.side-btns button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--color4);
}

.sidebar > h1{
    font-size: 42px;
    color: white;
}

.sidebar button:hover{
    background-color: var(--color3);
    color: white;
    border-radius: 20px;
    width: 50%;  
    height: 100%; 
}

.header-btns li{
    list-style-type: none;
    color: white;
    display: inline;
    margin: 15px;
}

.header-btns button{
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color4);
    border-radius: 20px;
    width: 80px;
    height: 40px;
    margin: 3px;
}

.header-btns button:hover{
    background-color: #8ec9d1;
}

.header h3{
    font-size: 32px;
    float: right;
    margin: 5px;
}

.header input{
    border-radius: 20px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    height: 5%;
    width: 60%;
    padding: 10px;
    margin-top: 10px; 
}

.header p{
    width: fit-content;
    font-size: 18px;
    margin: 15px;
    float: left;
}

.projects > .card{
    border-left: solid 5px var(--color3);
    background-color: var(--color1);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px #000;
}

.holder{
    background-color: var(--color1);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 10px #000;
}

.project-desc{
    grid-column: 1;
    justify-self: start;
    font-size: 28px;
    font-weight: 600;
}

.announcements-desc{
    grid-row: 1;
    grid-column: 2;
    justify-self: start;
    font-size: 28px;
    font-weight: 600;
}

.trending-desc {
    align-self: end;
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

.card-btns{
    list-style-type: none;
    padding: 0;
    color: white;
    width: 50px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.lower-header{
    grid-column: 1;
    grid-row: 2;
    background-color: var(--color3);
    padding: 20px;
    color: var(--color1);
    font-size: 1.2em;
    font-weight: bold;
}

.upper-header{
    grid-column: 1;
    grid-row: 1;
    background-color: var(--color3);
    padding: 20px;
    color: var(--color1);
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    gap: 20px;
}

.sidebar h1{
    font-size: 42px;
    color: var(--color1);
}

.Trending h4{
    display: grid;
    justify-content: left;
    align-items: left;
    font-size: 20px;
}

.profile{
    display: flex;
    align-items: center;
}